.info-area-container{
    width: 90%;
    border: 1px solid #ccc;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    min-height: 12vh;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info-area-container > i{
    margin: 0 2vw;   
}

