.header-container{
    width: 90%;
}
.option-container{
    border-radius: 8px;
    border: 1px solid grey;
    max-width: 35%;
    padding: 1rem;
    margin-top: 5vh;
    height: fit-content;
    background-color: rgb(244, 244, 244);
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}
.option-container h3{
    font-size: 20px;
    margin-bottom: 2vh;
}
.option-container p{
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}
.tips-container{
    border-radius: 8px;
    border: 1px solid grey;
    width: 100%;
    padding: 1rem;
    margin-top: 5vh;
    height: fit-content;
    font-weight: 550;
}
.fire-color-gradient{
  background: -webkit-linear-gradient(#FC575E, #F7B42C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    /* color: linear-gradient(#FC575E, #F7B42C); */
}
.tips-container{
    width: 100%;
    display: flex;
}
.message-container{
    display: flex;
    justify-content: center;
}
.logo-container{
    margin-top: auto;
}
.fire-logo{
    width: 5rem;
    height: 5rem;
    /* fill: linear-gradient(#FC575E, #F7B42C); */
}
.welcome-message{
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 1.4rem 1.4rem 1.4rem 0;
    margin-left: 2vw;
}
@media (max-width: 767px) {
    .option-container h3{
        font-size: 16px;
    }
}