.navigators-container{
    display: flex;
    flex-direction: row;
}
.upper-navbar{
    padding: 0.5rem;
    color: white;
    width: 100%;
    background-color: #212529;
    display: flex;
    justify-content: space-between;
    height: fit-content;
}
.icon{
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}
.profile-icon{
    border-radius: 100%;
}
.svg-size{
    height: 16px;
    width: 16px;
}
.sidebar-move-right {
    animation-name: move-right;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    width: 200px;
    // display: block;
}
.sidebar-move-left{
    animation-name: move-left;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    width: 0px;
    animation-fill-mode: forwards;
}
@keyframes move-right {
    0% {
        width: 0px;
    }
    100% {width: 200px;}

}

@keyframes move-left {
    0% {
        width: 200px;
        visibility: visible;
    }
    40%{
        opacity: 0.5;
    }
    60%{
        opacity: 1;
        visibility: hidden;
    }
    100% {
        width: 0px;
        visibility: hidden;
    }
}

@media (max-width: 968px) {
    .navbar{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}