.table{
    width: 90%;
    border: 1px solid #ccc;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.table-titles{
    display: flex;
    justify-content: space-around;
    padding-top: 2vh;
}
.table-title{
    display: grid;
    place-items: center;
}
.table-row{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px;
    border-top: 1px;
    border-style: solid;
    padding: 2rem 0;
    border: 0px;
}

.table-item-container{height: 100%;}

.table-title:nth-of-type(1), .table-item-container:nth-of-type(1){width: 18%;}
.table-title:nth-of-type(2), .table-item-container:nth-of-type(2){width: 46%;}
.table-title:nth-of-type(3), .table-item-container:nth-of-type(3){width: 18%;}
.table-title:nth-of-type(4), .table-item-container:nth-of-type(4){width: 18%;}

.table-item{
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 80%;
    margin: auto;
    text-align: center;
}