header{
    flex-direction: row;
}
main {
    min-height: 100vh;
    max-height: 100vh;
    width: 85vw;
}
.main-content-container{
    padding: 3rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.box-content-container{
    padding: 1rem 2rem;
    min-width: 16rem;
    max-width: 20rem;
    min-height: 16rem;
    border: 1px solid grey;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
label {
    display: block;
    margin: 1rem 0rem;
}
input{ 
    display: block;
}